<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.administrator.mapper.OrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neu.administrator.model.po.Organization">
        <id column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="org_introduction" property="orgIntroduction" />
        <result column="org_number" property="orgNumber" />
        <result column="org_address" property="orgAddress" />
        <result column="org_volunteer_id" property="orgVolunteerId" />
        <result column="org_pass_if" property="orgPassIf" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        org_id, org_name, org_introduction, org_number, org_address, org_volunteer_id, org_pass_if
    </sql>
    <update id="updateByOrgId">
        update organization
        <set>
            <if test="orgName != null and orgName != ''">
                org_name = #{orgName},
            </if>
            <if test="orgIntroduction != null and orgIntroduction != ''">
                org_introduction = #{orgIntroduction},
            </if>
            <if test="orgNumber != null">
                org_number = #{orgNumber},
            </if>
            <if test="orgAddress != null and orgAddress!=''">
                org_address = #{orgAddress},
            </if>
            <if test="orgVolunteerId != null and orgVolunteerId != ''">
                org_volunteer_id = #{orgVolunteerId},
            </if>
            <if test="orgPassIf != null and orgPassIf != ''">
                org_pass_if = #{orgPassIf},
            </if>
        </set>
        where org_id = #{orgId}
    </update>
    <select id="selectByOrgId" resultType="com.neu.administrator.model.po.Organization">
        select *
        from organization
        where  org_pass_if = #{orgPassIf}
    </select>
    <select id="countByOrgId" resultType="java.lang.Integer">
        select count(*)
        from organization
        where  org_pass_if = #{orgPassIf}
    </select>
    <select id="selectOrgByPage" resultMap="BaseResultMap">
        select *
        from organization
        <where>
            org_pass_if = #{org.orgPassIf}
            <if test="org.orgName!=null and org.orgName!=''">
                and org_name like #{org.orgName}
            </if>
        </where>
        limit #{start}, #{size}
    </select>
    <select id="countOrg" resultType="java.lang.Integer">
        select count(*)
        from organization
        <where>
            org_pass_if = #{orgPassIf}
            <if test="orgName!=null and orgName!=''">
                and org_name like #{orgName}
            </if>
        </where>
    </select>


</mapper>
