<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.administrator.mapper.SuppliesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neu.administrator.model.po.Supplies">
        <id column="id" property="id" />
        <result column="item_name" property="itemName" />
        <result column="item_type" property="itemType" />
        <result column="quantity" property="quantity" />
        <result column="notes" property="notes" />
        <result column="donation_date" property="donationDate" />
        <result column="donor" property="donor" />
        <result column="descriptions" property="descriptions" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_name, item_type, quantity, notes, donation_date, donor, descriptions
    </sql>

</mapper>
