<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.administrator.mapper.TaskVolunteerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neu.administrator.model.po.TaskVolunteer">
        <result column="volunteer_id" property="volunteerId" />
        <result column="child_id" property="childId" />
        <result column="task_id" property="taskId" />
        <result column="approval_start_time" property="approvalStartTime" />
        <result column="approval_finish_time" property="approvalFinishTime" />
        <result column="approval_end_time" property="approvalEndTime" />
        <result column="is_completed_approval" property="completedApproval" />
        <result column="approval_comments" property="approvalComments" />
        <result column="homework_photo" property="homeworkPhoto" />
        <result column="task_photo" property="taskPhoto" />
        <result column="child_name" property="childName" />
        <result column="task_name" property="taskName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        volunteer_id, child_id, task_id, approval_start_time, approval_finish_time, approval_end_time, is_completed_approval, approval_comments, homework_photo, task_photo, child_name, task_name
    </sql>
    <insert id="insertTaskVol">
        insert into task_volunteer
    </insert>
    <insert id="insertTaskVolunteer">
        insert into task_volunteer
        (volunteer_id, child_id, task_id, approval_start_time, approval_finish_time, approval_end_time, is_completed_approval, approval_comments, homework_photo, task_photo, child_name, task_name)
        values
        (#{volunteerId}, #{childId}, #{taskId}, #{approvalStartTime}, #{approvalFinishTime}, #{approvalEndTime}, #{completedApproval}, #{approvalComments}, #{homeworkPhoto}, #{taskPhoto}, #{childName}, #{taskName})
    </insert>

    <update id="updateTaskVolunteer">
        update task_volunteer
        set volunteer_id=#{volunteerId}
        where  child_id=#{childId} and task_id=#{taskId};
    </update>
    <select id="selectTaskVolunteer" resultType="java.lang.Integer">
        select count(*) from task_volunteer where  child_id = #{childId} and task_id = #{taskId}
    </select>
    <select id="selectTaskVolunteerNotAssign" resultType="com.neu.administrator.model.po.Volunteer">
        select *
        from volunteer
        where vol_id not in (select volunteer_id from task_volunteer where task_id = #{taskId} and child_id = #{childId})
    </select>


</mapper>
