<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.administrator.mapper.VolunteerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neu.administrator.model.po.Volunteer">
        <id column="vol_id" property="volId" />
        <result column="vol_username" property="volUsername" />
        <result column="vol_password" property="volPassword" />
        <result column="vol_name" property="volName" />
        <result column="vol_locate" property="volLocate" />
        <result column="vol_organization" property="volOrganization" />
        <result column="vol_duty" property="volDuty" />
        <result column="vol_corrected_tasks" property="volCorrectedTasks" />
        <result column="vol_tel" property="volTel" />
        <result column="vol_sfz" property="volSfz" />
        <result column="if_pass" property="ifPass" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vol_id, vol_username, vol_password, vol_name, vol_locate, vol_organization, vol_duty, vol_corrected_tasks, vol_tel, vol_sfz, if_pass
    </sql>

</mapper>
