<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.administrator.mapper.ChildMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neu.administrator.model.po.Child">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="score" property="score" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="grade" property="grade" />
        <result column="locate" property="locate" />
        <result column="duty" property="duty" />
        <result column="completed_tasks" property="completedTasks" />
        <result column="volunteer_id" property="volunteerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, score, password, name, grade, locate, duty, completed_tasks, volunteer_id
    </sql>

</mapper>
