<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.administrator.mapper.TaskChildMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neu.administrator.model.po.TaskChild">
        <result column="child_id" property="childId" />
        <result column="task_id" property="taskId" />
        <result column="score" property="score" />
        <result column="task_start_time" property="taskStartTime" />
        <result column="task_finish_time" property="taskFinishTime" />
        <result column="task_end_time" property="taskEndTime" />
        <result column="is_completed" property="completed" />
        <result column="is_corrected" property="isCorrected" />
        <result column="assignment_stage" property="assignmentStage" />
        <result column="homework_photo" property="homeworkPhoto" />
        <result column="task_approve_time" property="taskApproveTime" />
        <result column="comment" property="comment" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        child_id, task_id, score, task_start_time, task_finish_time, task_end_time, is_completed, is_corrected, assignment_stage, homework_photo, task_approve_time, comment
    </sql>

</mapper>
